<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    caution my friend you'll be surprised.
    <div class="title">
        <span>Mobile Video Server</span>
    </div>
    <div id="category" title="" selected="true" >
        <div class="item">
            <a class="channelwm" value="rtsp://192.168.1.150:6554/live=2.1&username=admin&password=admin"
            href='#' onclick="javascript:playURL(value);">Camera One</a>
        </div><div class="item">
        <a class="channelwm" value="rtsp://192.168.1.150:6554/live=2.2&username=admin&password=admin"
        href='#' onclick="javascript:playURL(value);">Camera Two</a>
    </div>
</div><div>
<table><tr><td>
    <object name="player" width="320" height="240" classid="clsid:CFCDAA03-8BE4-11CF-B84B-
    0020AFBBCCFA">
    <param name="CONTROLS" value="ImageWindow">
    <param name="CONSOLE" value="Video">
    <param name="CENTER" value="TRUE">
    <param name="MAINTAINSPECT" value="TRUE">
</object>
</td></tr>
<tr><td>
    <object width="320" height="30" classid="clsid:CFCDAA03-8BE4-11cf-B84B-0020AFBBCCFA">
        <param name="CONTROLS" value="ControlPanel">
        <param name="CONSOLE" value="Video">
        <param name="AUTOSTART" value="1">
        <param name="SRC" value="rtsp://192.168.1.150:6554/live=2.2&username=admin&password=admin" >
    </object>
</td></tr></table>
</div>
</body>
</html>
