<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    caution my friend you'll be surprised.
    <div>
        <table><tr><td>
            <object name="player" width="320" height="240" classid="clsid
            :CFCDAA03-8BE4-11CF-B84B-
            0020AFBBCCFA">
            <param name="CONTROLS" value="ImageWindow">
            <param name="CONSOLE" value="Video">
            <param name="CENTER" value="TRUE">
            <param name="MAINTAINSPECT" value="TRUE">
        </object></td></tr><tr><td>
        <object width="320" height="30" classid="clsid:1CAC77F7-0745-42BB-A8B7-E466B1FF8640">
        <param name="CONTROLS" value="ControlPanel">
        <param name="CONSOLE" value="Video">
        <param name="AUTOSTART" value="1">
        <param name="SRC" value="rtsp://192.168.1.150:10000/live=2.2&usern
        ame=admin&password=artcnnartcnn" >
    </object></td></tr></table>
</div>
</body>
</html>
