{% load static %}
<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation | Banded</title>
  <link rel="stylesheet" href='{% static "css/foundation.min.css" %}'>
  <link rel="stylesheet" href='{% static "css/app.css" %}'>
  <script src='{% static "js/modernizr.foundation.js" %}'></script>
</head>
<body>
  <!-- Header and Nav -->
  <div class="row">
    <div class="three columns">
      <h1>
      <a href="/">
        <img src="http://placehold.it/400x100&text=Shorouk" />
        </a></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        <li><a href="#">Channel 1</a></li>
        <li><a href="#">Channel 2</a></li>
        <li><a href="#">Channel 3</a></li>
        <li><a href="#">Channel 4</a></li>
      </ul>
    </div>
  </div>
  <!-- End Header and Nav -->

  <!-- First Band (Image) -->

  <div class="row">
    <div class="twelve columns">
      <iframe width="1000" height="500" src="https://www.youtube.com/embed/ssutK1Gei4A" frameborder="0" allowfullscreen></iframe>
      <hr />
    </div>
  </div>
  <!-- Included JS Files (Compressed) -->
  <script src='{% static "js/jquery-2.1.1.min.js" %}'></script>
  <script src='{% static "js/foundation.min.js" %}'></script>

  <!-- Initialize JS Plugins -->
  <script src='{% static "js/app.js" %}'></script>
</body>
</html>
